<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="amc.mb.rsassociations.persistence.RSEmployeeMapper">
	<resultMap id="rsEmployeeResultMap" type="amc.mb.rsassociations.domain.RSEmployee">
		<constructor>
			<idArg column="persoon_id" javaType="long"/>
			<arg column="row_number" javaType="long"/>
		</constructor>
		<collection property="rsFunctions" ofType="amc.mb.rsassociations.enums.RSFunction">
			<id column="function_name"/>
		</collection>	
	</resultMap>
	
	<insert id="insertRSEmployee"  >
		INSERT INTO rsemployees(persoon_id
			, row_number
			, amcgebruikersnaam
			, amcemail
			, voorkeurnaam
			, tussenvoegsel
			, voorletters
			, voornaam
			, roepnaam
			, geboortedatum
			, geslacht
			, phone_number
			, email
		) VALUES(#{persoonId}
			, #{rowNumber}
			, #{amcgebruikersnaam}
			, #{amcemail}
			, #{voorkeurnaam}
			, #{tussenvoegsel}
			, #{voorletters}
			, #{voornaam}
			, #{roepnaam}
			, #{geboortedatum}
			, #{geslacht}
			, #{phoneNumber}
			, #{email});
	</insert>

	<insert id="insertRSFunctionForEmployee">
		INSERT INTO ${tableName}(persoon_id
		) VALUES (#{persoonId});
	</insert>

	<insert id="insertRSEmployeeCouple" parameterType="amc.mb.rsassociations.domain.RSEmployeeCouple" >
		INSERT INTO ${rsFunctionCouple.tableName}(row_number
			, ${rsFunctionCouple.columnNameFirstRSEmployee}
			, ${rsFunctionCouple.columnNameSecondRSEmployee})
		VALUES(#{rowNumber}
			, #{firstRSEmployee.persoonId}
			, #{secondRSEmployee.persoonId})
	</insert>
	
	<select id="getAllRSEmployees" resultMap="rsEmployeeResultMap">
		<if test="withRoles">
			WITH functionEmployeeLinks AS (${functionEmployeeLinks})
		</if>
		SELECT rsemployee.*, 
		<choose>
			<when test="withRoles">function_name</when>
    		<otherwise>null function_name</otherwise>
		</choose>
		FROM rsemployees AS rsemployee 
		<if test="withRoles">
			JOIN functionEmployeeLinks
			USING(persoon_id)
		</if>
		ORDER BY voorkeurnaam;
	</select>
	
	<select id="getRSEmployeeByPersoonId" resultMap="rsEmployeeResultMap">
		WITH functionEmployeeLinks AS (${functionEmployeeLinks})
		SELECT rsemployee.*, function_name
		FROM rsemployees AS rsemployee 
		JOIN functionEmployeeLinks
		USING(persoon_id)
		WHERE persoon_id=#{persoonId}
	</select>

	<select id="getRSEmployeesWithRole" resultMap="rsEmployeeResultMap">
		WITH functionEmployeeLinks AS (${functionEmployeeLinks}),
		employeeIdsWithRoles AS (
			SELECT DISTINCT persoon_id 
			FROM rsemployees
			JOIN functionEmployeeLinks USING(persoon_id)
			WHERE function_name = #{rsFunction})
		SELECT rsemployees.*, function_name from rsemployees
		JOIN functionEmployeeLinks USING(persoon_id)
		JOIN employeeIdsWithRoles USING(persoon_id);
	</select>
		
	<delete id="deleteAll">
		TRUNCATE rsemployees CASCADE;
	</delete>
						
</mapper>