<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="common_header">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script th:src="@{/webjars/jquery/jquery.js}"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />

<style type="text/css">
.dev-header .environment::before {
	content: "DEV-DEV-DEV-";
}

.dev-header {
	height: 50px;
	margin: 0px auto;
	background: none repeat scroll 0% 0% lime;
}

.acceptatie-header .environment::before {
	content: "ACCEPTATIE-ACCEPTATIE-ACCEPTATIE-";
}

.acceptatie-header {
	height: 50px;
	margin: 0px auto;
	background: none repeat scroll 0% 0% orange;
}

.productie-header {
	height: 50px;
	margin: 0px auto;
	background: none repeat scroll 0% 0% #348296;
}
</style>
</head>
<body>
	<nav th:fragment="pageheader(title)" th:class="'navbar fixed-top navbar-expand-lg ' + ${T(java.lang.System).getenv('SPRING_PROFILES_ACTIVE') + '-header'}">
		<a class="navbar-brand environment" href="/" style="color: rgb(170, 39, 59);">RSAssociations</a>
		<div class="mx-auto" style="width: 84px">
			<a href="http://intranet.amc.nl"> <img width="84" height="60" alt="Logo" title="Home" th:src='@{/resources/static/images/AUMCLogo.png}'></img></a>
		</div>
		<div class="navbar-text">
			<div th:text="${title}" style="padding-right: 40px;">title</div>
		</div>
		<div class="navbar-text" th:with="ingelogdAls=${#authorization == null ? null : #authorization.expression('isAuthenticated()') ? #authentication.principal.username : null}">
			<a href="http://intranet.amc.nl/web/organisatie/domeinen/research.htm" target="_blank">Research Office</a> / <a
				href="http://intranet.amc.nl/web/personeel/links-voor-de-werkplek/amc-literatuur.htm" target="_blank">Research Support</a> <br /> <span
				th:if="${ingelogdAls != null && ingelogdAls != 'anonymoususer'}" th:text="${'Ingelogd als ' + ingelogdAls}">Ingelogd</span>
		</div>
	</nav>

	<div th:fragment="menu" class="sticky-top">
		<ul>
			<li id="help"><a th:href="@{/help}">Help</a></li>
			<li><a id="principalInvestigatorsLink" th:href="@{/principalInvestigators?menuItem=principalInvestigatorsLink}">Principal Investigators</a></li>
			<li><a id="rsEmployeesLink" th:href="@{/rsEmployees?menuItem=rsEmployeesLink}">RS medewerkers</a></li>
			<li th:each="rsFunctionCouple : ${T(amc.mb.rsassociations.enums.RSFunctionCouple).values()}" th:object="${rsFunctionCouple}">
				<a th:href="@{/rsEmployees/rsFunctionCouple/{rsFunctionCouple}?menuItem=23(rsFunctionCouple=${rsFunctionCouple})}" th:text="*{description}">RSFunctionCouple</a>
			</li>
			
		</ul>
	</div>
</body>
</html>
