<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title='Alle Research Support medewerkers'">
<head>
<meta charset="UTF-8">
<object th:include="fragments :: common_header" th:remove="tag"></object>
<title th:text="${title}"></title>
<script th:inline="javascript" type="text/javascript">
</script>
</head>
<div th:replace="fragments.html :: pageheader(${title})"></div>
<a th:href="@{/help}">Help</a>

	<table>
		<tr th:each="rsEmployee: ${rsEmployees}" th:object="${rsEmployee}">
			<td th:text="*{fullName}" />
			<td><a th:text="*{phoneNumber}" th:href="|tel:*{phoneNumber}|"></a></td>
			<td><a th:text="*{email}" th:href="|mailto:*{email}|"></a></td>
			<td><a th:text="*{secondaryEmail}" th:href="|mailto:*{secondaryEmail}|"></a></td>
			<td style="width:40px;" th:each="rsFunction: ${T(amc.mb.rsassociations.enums.RSFunction).values()}" 
			th:text="${#lists.contains(rsEmployee.rsFunctions, rsFunction) ? '+' : '-'}" th:title="${rsFunction.description}" />					
		</tr>
	</table>
</body>
</html>