<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title='Research Support employees'">
<head>
<link id="test" rel="icon" href=""  sizes="16x16">

<meta charset="UTF-8">
<object th:include="fragments :: common_header" th:remove="tag"></object>
<title th:text="${title}"></title>
<script th:inline="javascript" type="text/javascript">
	$(document).ready(function() {
		initDataTable();
	});
</script>
<!-- global functions and variables-->
<script type="text/javascript" th:inline="javascript">
	var oTable;
	
	var columnDefs = [
        { targets: 0, visible: true, name: 'name'      , title: 'Name' },
        { targets: 1, visible: true, name: 'initials'  , title: 'Initials'},
        { targets: 2, visible: false, name: 'firstName' , title: 'Firstname'},
        { targets: 3, visible: true, name: 'gender'    , title: 'S'},
        { targets: 4, visible: true, name: 'phone'     , title: 'Phone'},
        { targets: 5, visible: true, name: 'email'     , title: 'Email'},
        { targets: 6, visible: true, name: 'emailExtra', title: 'Email (extra)'}
    ];
	
	var offset = columnDefs.length;
	
	[[${T(amc.mb.rsassociations.enums.RSFunction).values()}]].forEach(function(rsFunction, index) {
		columnDefs.push({targets: index + offset, visible: true, name: rsFunction, title: ''})});
	
	function initDataTable() {
		rsEmployees = $('#rsEmployees').DataTable({
			pagingType: "full_numbers",
	    	stateSave: true,
	    	searching: true,
	    	lengthChange: false,
	    	pageLength: 12,
	        processing: true,
	        language: { 
	        	search:         "Search all columns:",
	        	info:           "Show _START_ to _END_ from _TOTAL_ (filtered) " + [[${title}]] + " (Page _PAGE_ from _PAGES_)",
	        	infoEmpty:      "No " + [[${title}]],
	        	emptyTable:     "No " + [[${title}]],
	        	zeroRecords:    "No " + [[${title}]],
	        	infoFiltered:   " - Total number " + [[${title}]] + ": _MAX_",
	        	paginate: {first: "First", last: "Last", next: "Next", previous: "Previous"}
	        },
	        dom: 'Bfrtip',
	        buttons: ['excel', 'pdf', 'print', {
	        	text: '<u>R</u>eset ordering - search',
	        	key: {key: 'r', altKey: true},
                action: function (e, dt, node, config) {resetOrderingTable()}
            }, {
	        	text: '<u>T</u>est',
	        	key: {key: 't', altKey: true},
                action: function (e, dt, node, config) {rsEmployees.column('emailExtra:name').search('@').draw()}
            }],
		    order: [0, "asc"],
		    columnDefs: columnDefs
	    });
	}
	
	function resetOrderingTable() {
		rsEmployees.state.clear();
		rsEmployees.destroy();
		initDataTable();
		$("#rsFunction").val("");
	}
	
	function filterByRsFunction(source) {
		$("#test").attr("href", "https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Red_Dot.svg/150px-Red_Dot.svg.png")
		var columnName = $(source).val();
		
		rsEmployees.columns().search("").draw();
		if (columnName != "") {
			rsEmployees.column(columnName + ':name' ).search('+').draw();
		}
	}
</script>
<style>
td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
</style>
</head>
<div th:replace="fragments.html :: pageheader(${title})"></div>
<div class="container-fluid" id="top">
	<br> <br> <br>
	<div class="row">
		<div class="col-sm-2" id="navigationLinks">
			<div th:include="fragments :: menu" class="sticky-top"></div>
		</div>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-8">
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="rsFunction" name="rsFunction" onChange='filterByRsFunction(this)'>
						<option selected="selected" value="">-- Function --</option>
						<option th:each="rsFunction : ${T(amc.mb.rsassociations.enums.RSFunction).values()}" th:value="${rsFunction.name()}" th:text="${rsFunction.description}"></option>
					</select>
				</div>
			</div>
			<table class="table table-striped overview" id="rsEmployees">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th th:each="rsFunction: ${T(amc.mb.rsassociations.enums.RSFunction).values()}"></th>
					</tr>
				</thead>
				<tr th:each="rsEmployee: ${rsEmployees}" th:object="${rsEmployee}">
					<td th:text="*{voorkeurnaam}" />
					<td th:text="*{voorletters}" />
					<td th:text="*{#strings.setJoin(firstNames,', ')}" />
					<td th:text="*{geslacht}" />
					<td><a th:text="*{phoneNumber}" th:href="|tel:*{phoneNumber}|"></a></td>
					<td><a th:text="*{amcemail}" th:href="|mailto:*{amcemail}|"></a></td>
					<td><a th:text="*{email}" th:href="|mailto:*{email}|"></a></td>
					<td style="width: 10px;" th:each="rsFunction: ${T(amc.mb.rsassociations.enums.RSFunction).values()}"
						th:text="${#lists.contains(rsEmployee.rsFunctions, rsFunction) ? '+' : ''}" th:title="${rsFunction.description}" />
				</tr>
			</table>

		</div>
	</div>

</div>
</body>
</html>